* {
  margin: 0;
  padding: 0;
}
.imgWrapper {
  font-size: 0;
}
.wrapper {
  width: 1240px;
  margin: 100px auto;
}
.wrapper a {
  overflow: hidden;
}
.wrapper a img:hover {
  transform: scale(1.2);
  transition: 0.2s linear ;
}
